* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("../img/earth2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.modal-content {
  background-image: url("../img/earth.jpg");
}

.row-desired-destination h4 {
  color: aquamarine;
  margin: 10px 0;
  font-size: 25px;
  margin-left: 14em;
}
.row-desired-destination input {
  margin-bottom: 10px;
  text-align: center;
  margin-left: 25em;
}

.jumbotron h1 {
  color: purple;
}
.jumbotron {
  background-color: transparent;
}
.center-table {
  text-align: center;
}
.btn {
  margin-left: 25em;
  background-color: purple;
  color: white;
}
.btn2 {
  background-color: purple;
  color: white;
  padding: 7px;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 250px;
}

table th {
  text-align: center;
}

.editing {
  background-color: yellow;
}
